<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>transform</title>
  <style>
   .turn:hover {
    -moz-transform: rotate(15deg); /* Для Firefox */
    -ms-transform: rotate(15deg); /* Для IE */
    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(15deg); /* Для Opera */
    transform: rotate(15deg);
   }
  </style>
 </head>
 <body>
  <p><img src="images/igels.png" alt="Ёжик" class="turn">
     <img src="images/igels.png" alt="Ёжик" class="turn"></p>
 </body>
</html>

<div class="issue-body">
  <VueMarkdown class="issue-body__open" v-if="show" >{{ item.body }}</VueMarkdown>
  <VueMarkdown class="issue-body__closed" v-else >{{ item.body }}</VueMarkdown>
</div>  
</div> 
<div class="state-img">
<img class="state-out" v-if="item.state == 'closed'" src="http://localhost:8080/svg/tick.svg" />
<img class="state-in" v-else src="http://localhost:8080/svg/dev.svg" />  
</div>
<li v-bind:class="{someClass: index===show}">{{ item }}
<button v-on:click="show = index">Toggle single class</button>
</li>


<div class="issue-body">
  <VueMarkdown class="issue-body__open" v-if="show">{{ item.body }}</VueMarkdown>
  <VueMarkdown class="issue-body__closed" v-else >{{ item.body }}</VueMarkdown>
</div>  
</div> 
<div class="state-img">
<img class="state-out" v-if="item.state == 'closed'" src="http://localhost:8080/svg/tick.svg" />
<img class="state-in" v-else src="http://localhost:8080/svg/dev.svg" />  
</div>

<ul v-for="(item, index) in items">
  <li v-bind:class="{someClass: index===currentIndex}">{{item}}
    <button v-on:click="currentIndex = index">Toggle single class</button>
  </li>
</ul>